:root{
    --main-color: #2D409E;
    --accent-color: #ABA9BB;
    --other-color: #00C894;
    --darkgray: #212329;
    --brightred:#F94230;
    --white: #fff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

}

/* body{
    background: url("Hexagon.svg");
    background-repeat: no-repeat;
   
} */

.nav-container{
    width: 100%;
    background-color: var(--darkgray);
}

.navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo{
    color: var(--white);
    justify-self: start;
}

#navbar-logo{
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links{
    color: var(--white);
    text-decoration: none;

}

.nav-links:hover{
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.nav-links-btn{
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 4px;
}

.nav-links-btn:hover{
    background-color: transparent;
    columns: var(--white);
    padding: 5px 18px;
    border-radius: 4px;
    border: 1px solid var(--brightred);
}

.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}

@media screen and (max-width:768px){
    .nav-container{
        position: relative;

    }

    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        /* left: -100%;
        opacity: 0; */
        transition: all 0.5s ease;
    }
    #navbar-logo{
        margin-left: 20px;
    }

    .nav-menu.active{
        background-color: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5 ease;


    }
    .nav-links{
        text-align: center;
    }
    
}